<!DOCTYPE html>
<html>
<head>
  <title>Event Manager 2.0</title>
</head>
<body>
  <h1>Event schedule</h1>

  <table>
    <tr>

    <% @schedule.each do |row| %>
    	<% row.each do |column| %>
    <li><%= schedule %></li>
    	<%end%>
    <%end%>
    
    </tr>
  </table>



</body>
</html>